{% extends "layout/base.html.twig"%}

{% block title %}Inscription{% endblock %}

{% block body %}

{% if message == "error_login" %}

<div class="row justify-content-center text-center mt-2">
  <div class="alert alert-success col-xs-12 col-md-4" role="alert">
    Erreur lors de l'inscription, merci de vérifier votre saisie</div>
</div>

{% endif %}

<h1 class="navbar-brand fa-2x d-flex justify-content-center mt-5 text-uppercase">S'inscrire</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
      <div class="card card-signin">
        <div class="card-body registration">
          {{form_open(base_url('registration'))}}
          <p class="font-weight-bold">Nom</p>
          <div class="form-label-group">
            <input type="text" id="lastname" name="lastName" class="form-control mt-3" placeholder="nom" required
              autofocus value="{{loggedInUser is empty ?  set_value('lastName') : loggedInUser.lastName }}">
            <label for="lastname">Nom</label>
          </div>
          <p class="font-weight-bold">Prénom</p>
          <div class="form-label-group">
            <input type="text" id="firstname" name="firstName" class="form-control mt-3" placeholder="prénom" required
              value="{{ loggedInUser is empty ? set_value('firstName') : loggedInUser.firstName }}">
            <label for="firstname">Prénom</label>
          </div>
          <p class="font-weight-bold">Adresse 1</p>
          <div class="form-label-group">
            <input type="text" id="address1" name="address1" class="form-control mt-3" placeholder="adresse 1" required
              value="{{loggedInUser is empty ? set_value('address1') : loggedInUser.address1 }}">
            <label for="address1">Adresse 1</label>
          </div>
          <p class="font-weight-bold">Adresse 2</p>
          <div class="form-label-group">
            <input type="text" id="address2" name="address2" class="form-control mt-3" placeholder="adresse 2"
              value="{{loggedInUser is empty ? set_value('address2') : loggedInUser.address2 }}">
            <label for="address2">Adresse 2</label>
          </div>
          <p class="font-weight-bold">Code postal</p>
          <div class="form-label-group">
            <input type="text" id="zipcode" name="zipCode" class="form-control mt-3" placeholder="zipcode" required
              value="{{loggedInUser is empty ? set_value('zipCode') : loggedInUser.zipcode  }}">
            <label for="zipcode">Code Postal</label>
            {% if validation.hasError('zipCode') %}
            <div>{{validation.getError("zipCode")}} </div>
            {% endif %}
          </div>
          <p class="font-weight-bold">Ville</p>
          <div class="form-label-group">
            <input type="text" id="city" name="city" class="form-control mt-3" placeholder="city" required
              value="{{loggedInUser is empty ? set_value('city') : loggedInUser.city  }}">
            <label for="city">Ville</label>
          </div>
          <p class="font-weight-bold">E-mail</p>
          <div class="form-label-group">
            <input type="email" id="inputEmail" name="email" class="form-control mt-3" placeholder="Email address"
              required value="{{loggedInUser is empty ? set_value('email') : loggedInUser.email }}">
            <label for="inputEmail">E-mail</label>
            {% if validation.hasError('email') %}
            <div>{{validation.getError("email")}} </div>
            {% endif %}
          </div>
          <p class="font-weight-bold">Identifiant</p>
          <div class="form-label-group">
            <input type="text" id="login" name="login" class="form-control mt-3" placeholder="login" required
              value="{{loggedInUser is empty ? set_value('login') : loggedInUser.login }}">
            <label for="login">Identifiant</label>
            {% if validation.hasError('login') %}
            <div>{{validation.getError("login")}} </div>
            {% endif %}
          </div>
          <p class="font-weight-bold">Mot de passe</p>
          <div class="form-label-group">
            <input type="password" id="password" name="password" class="form-control mt-3" placeholder="password"
              required value="{{set_value('password')}}">
            <label for="password">Mot de passe</label>
            {% if validation.hasError('password') %}
            <div>{{validation.getError("password")}} </div>
            {% endif %}
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-warning text-uppercase mt-2" type="submit">
              S'inscrire
            </button>
          </div>
          {{form_close}}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}